body {
    background-color: black;
    min-width: 240px;
    color: gainsboro;
    margin: 0;
    font-family: 'Noto Sans Kannada', sans-serif;
} 
input {
    color: white;
}
header {
    background-color: rgba(255,255,255,0.5);
}
input[name=player-name] {
    height: 40px;
    background-color: black;
    border-width: 0px 0px 1px 0px;
    border-color: gainsboro;
    border-style: solid;
    margin: auto;
    font-size: 1.6em;
    padding: auto;
    width: 150px;
}
.people{
    white-space: nowrap;
    margin: 10px auto;
}
i{
    color: gainsboro;
}
.setting {
    text-align: right
}
.setting i {
    margin: 2px;
}
.sex-checked{
    font-size: 1.6em;
    color: orange;
}
.people-area {
    text-align: center;
}